@import vars

*
	margin: 0
	padding: 0
	box-sizing: border-box

	&:focus
		outline: none

html, body
	height: 100%
	line-height: 1

body
	font-family: $main_font
	-webkit-tap-highlight-color: transparent
	-moz-tap-highlight-color: transparent
	-ms-tap-highlight-color: transparent
	overflow-x: hidden
	background: $bg_color
	color: $white_text

h1,h2,h3,h4,h5
	font-family: $titles_font

a
	text-decoration: none
	color: inherit

li
	list-style: none

img
	width: 100%

.wrapper
	min-height: 100%

.container
	max-width: 100%
	margin: 0 auto
	padding: 0 2rem 0

.logo
	max-width: 220px
	transition: $ease500

	&:hover
		transform: translateX(15%)

.socials
	position: fixed
	display: grid
	justify-items: center
	top: 28%
	left: 2%
	gap: 1.25rem
	z-index: 5

	svg
		width: 20px
		height: 20px
		transition: $ease500

		&:hover
			transform: scale(1.5)

	&_text
		writing-mode: vertical-lr
		text-orientation: mixed
		font-weight: 700

.slider
	position: fixed
	display: flex
	gap: 1.5rem
	position: fixed
	top: 28%
	right: 2%
	z-index: 6

	&_items
		display: grid
		gap: 2.5rem
		justify-items: end
		font-weight: 700

		.slide
			cursor: pointer
			transition: $ease500
			&:hover
				transform: scale(1.5)

		.active
			color: $orange_text

	.progress-bar
		margin-left: auto
		position: relative
		width: 0.2rem
		background-color: $white_text

		&_counter
			background-color: $orange_text
			position: absolute
			height: 0
			width: 0.2rem
			top: 0
			transition: 1s ease

.burger
	display: none
	flex-direction: column
	justify-content: center
	align-items: center
	cursor: pointer
	z-index: 1001
	position: fixed
	top: 70px
	right: 5.5%
	gap: 4px

	.line
		width: 30px
		height: 3px
		background-color: $white_text
		transition: transform $ease500, opacity 300ms ease
		z-index: 1001
		cursor: pointer

.active
	.line
		background: $orange_text
	.line:nth-child(1)
		transform: rotate(-45deg) translate(-4px, 5px)
	.line:nth-child(2)
		opacity: 0
	.line:nth-child(3)
		transform: rotate(45deg) translate(-5px, -6px)

.overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(0, 31, 63,0.9)
	z-index: 1000
	display: none
	justify-content: center
	align-items: center
	transition: 1s ease
	transform: translateY(-100%)

	&_list
		display: grid
		gap: 2.5rem

		&-item
			display: block
			transition: $ease500
			font-size: 1.25rem
			font-weight: 700
			&:hover
				color: $orange_text
				transform: scale(110%)
