* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Lunasima", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  overflow-x: hidden;
  background: #001f3f;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem 0;
}

.logo {
  max-width: 220px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.logo:hover {
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.socials {
  position: fixed;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  top: 29%;
  left: 2%;
  gap: 1.25rem;
  z-index: 5;
}
.socials svg {
  width: 20px;
  height: 20px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.socials svg:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.socials_text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  font-weight: 700;
}

.slider {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  position: fixed;
  top: 29%;
  right: 2%;
  z-index: 6;
}
.slider_items {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  justify-items: end;
  font-weight: 700;
}
.slider_items .slide {
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.slider_items .slide:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.slider_items .active {
  color: #CF7306;
}
.slider .progress-bar {
  margin-left: auto;
  position: relative;
  width: 3px;
  background-color: #FFFFFF;
}
.slider .progress-bar_counter {
  background-color: #CF7306;
  position: absolute;
  height: 0;
  width: 3px;
  top: 0;
  left: 0;
  -webkit-transition: 750ms ease;
  transition: 750ms ease;
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1001;
  position: fixed;
  top: 70px;
  right: 5.5%;
  gap: 4px;
}
.burger .line {
  width: 30px;
  height: 3px;
  background-color: #FFFFFF;
  -webkit-transition: opacity 300ms ease, -webkit-transform 500ms ease;
  transition: opacity 300ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, opacity 300ms ease;
  transition: transform 500ms ease, opacity 300ms ease, -webkit-transform 500ms ease;
  z-index: 1001;
  cursor: pointer;
}

.active .line {
  background: #CF7306;
}
.active .line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px);
          transform: rotate(-45deg) translate(-4px, 5px);
}
.active .line:nth-child(2) {
  opacity: 0;
}
.active .line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 31, 63, 0.9019607843);
  z-index: 1000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.overlay_list {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}
.overlay_list-item {
  display: block;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  font-size: 1.25rem;
  font-weight: 700;
}
.overlay_list-item:hover {
  color: #CF7306;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}
.header a {
  font-weight: 700;
  font-size: 1.25rem;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.header a:hover {
  color: #CF7306;
}
.header_nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.header_nav-ul--li {
  margin-bottom: 1rem;
}
.header_team {
  margin-bottom: 1rem;
}

.main {
  position: relative;
  height: 100vh;
}
.main::after {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: -110px;
  left: 0%;
  width: 100%;
  height: 100px;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(11, 28, 38, 0)), to(#001f3f));
  background: linear-gradient(180deg, rgba(11, 28, 38, 0) 20%, #001f3f 100%);
}
.main::before {
  position: absolute;
  width: 100%;
  height: 100vh;
  content: "";
  background-image: url("../img/main-page/main_bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: -1;
}

.main_content {
  max-width: 39rem;
  margin: 0 auto;
}
.main_content-title {
  color: #CF7306;
  font-size: 4.5rem;
  margin: 4rem auto;
  text-shadow: 2px 2px black;
  text-align: center;
}
.main_content-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 2.25rem;
}
.main_content-subtitle::before {
  display: inline-block;
  content: "";
  width: 4.5rem;
  height: 0.125rem;
  background-color: #CF7306;
}
.main_content-text {
  font-size: 1.25rem;
  line-height: 1.25;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}
.header a {
  font-weight: 700;
  font-size: 1.25rem;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.header a:hover {
  color: #CF7306;
}
.header_nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.header_nav-ul--li {
  margin-bottom: 1rem;
}
.header_team {
  margin-bottom: 1rem;
}

.team {
  position: relative;
  height: 100vh;
}
.team::after {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: -110px;
  left: 0%;
  width: 100%;
  height: 100px;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(11, 28, 38, 0)), to(#001f3f));
  background: linear-gradient(180deg, rgba(11, 28, 38, 0) 20%, #001f3f 100%);
}
.team::before {
  position: absolute;
  width: 100%;
  height: 100vh;
  content: "";
  background-image: url("../img/team/team_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: -1;
}

.team_content {
  max-width: 32rem;
  margin: 0 auto;
}
.team_content-title {
  color: #CF7306;
  font-size: 4.5rem;
  margin: 4rem auto;
  text-shadow: 2px 2px black;
  text-align: center;
}
.team_content-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 2.25rem;
}
.team_content-subtitle::before {
  display: inline-block;
  content: "";
  width: 4.5rem;
  height: 0.125rem;
  background-color: #CF7306;
}
.team_content-text {
  font-size: 1.25rem;
  line-height: 1.25;
}

.team-title {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2.5rem;
}

.fabricaAbout_firstText {
  margin-bottom: 1.5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}
.header a {
  font-weight: 700;
  font-size: 1.25rem;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.header a:hover {
  color: #CF7306;
}
.header_nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.header_nav-ul--li {
  margin-bottom: 1rem;
}
.header_team {
  margin-bottom: 1rem;
}

.fabrica {
  position: relative;
  height: 100vh;
}
.fabrica::after {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: -110px;
  left: 0%;
  width: 100%;
  height: 100px;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(11, 28, 38, 0)), to(#001f3f));
  background: linear-gradient(180deg, rgba(11, 28, 38, 0) 20%, #001f3f 100%);
}
.fabrica::before {
  position: absolute;
  width: 100%;
  height: 100vh;
  content: "";
  background-image: url("../img/fabrica/fabrica_bg.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: -1;
}

.fabrica_content {
  max-width: 35rem;
  margin: 0 auto;
}
.fabrica_content-title {
  color: #CF7306;
  font-size: 4.5rem;
  margin: 4rem auto;
  text-shadow: 2px 2px black;
  text-align: center;
}
.fabrica_content-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 2.25rem;
}
.fabrica_content-subtitle::before {
  display: inline-block;
  content: "";
  width: 4.5rem;
  height: 0.125rem;
  background-color: #CF7306;
}
.fabrica_content-text {
  font-size: 1.25rem;
  line-height: 1.25;
}

#player iframe {
  border-radius: 1rem;
  width: 40vw;
  height: 100%;
}

.content_container {
  max-width: 85%;
  margin: 0 auto;
  position: relative;
}
.content_container img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 5rem 0;
  margin-bottom: 3rem;
  gap: 3rem;
}
.section_imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 45rem;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section_imgBox img {
  height: 420px;
}
.section_span {
  position: absolute;
  color: #FFFFFF;
  font-size: 15rem;
  font-weight: 700;
  line-height: 15rem;
  top: 2.5rem;
  opacity: 0.1;
  pointer-events: none;
}
.section_content {
  max-width: 38rem;
}
.section_content-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CF7306;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
  gap: 2rem;
  line-height: 1.25;
}
.section_content-subtitle::before {
  display: inline-block;
  content: "";
  width: 4.5rem;
  height: 0.125rem;
  background-color: #CF7306;
}
.section_content-title {
  font-size: 2.5rem;
  margin: 2rem 0;
  line-height: 1.5;
}
.section_content-text {
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
}
.section_content-ul {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}
.section_content-ul--li a {
  border-bottom: 1px solid white;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.section_content-ul--li a:hover {
  color: #CF7306;
  border-bottom: none;
}

.inventory span, .storage span, .repair span, .original span, .certificate span {
  right: 0;
}

.mb {
  display: block;
  margin-bottom: 1.5rem;
}

.certificate {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 0;
}
.images img {
  width: 100%;
}
.images .img-box {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.persons {
  display: block;
  padding: 2rem 0 5rem;
  margin-bottom: 0;
}
.persons_slider {
  overflow: hidden;
  position: relative;
}
.persons_slider-item {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}
.persons_slider-item img {
  width: 30%;
  max-height: 650px;
}
.persons_slider-item--text-title {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.persons_slider-item--text-title::before {
  display: inline-block;
  content: "";
  width: 3.5rem;
  height: 0.125rem;
  background-color: #CF7306;
}
.persons_slider-item--text-subtitle {
  font-size: 1.25rem;
  color: #CF7306;
  font-weight: 700;
}
.persons_slider-btns {
  text-align: center;
}
.persons_slider-btns button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.persons_slider-btns button img {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.persons_slider-btns button img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slideL {
  -webkit-animation: slideLeft 1250ms ease-out;
          animation: slideLeft 1250ms ease-out;
}

.slideR {
  -webkit-animation: slideRight 1250ms ease-out;
          animation: slideRight 1250ms ease-out;
}

.active-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history {
  display: block;
  padding: 0 0 5rem;
  text-align: center;
  margin-bottom: 0;
}
.history_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.history_content img {
  max-height: 354px;
}

.location {
  display: block;
  padding: 2rem 0 5rem;
}
.location_content {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}
.location_content > img {
  width: 90%;
  margin: 0 auto;
}
.location_content #map {
  width: 77vw;
  margin: 0 auto;
}
.location_content #map iframe {
  width: 77vw;
  margin: 0 auto;
  border: none;
  outline: none;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 3rem;
  gap: 3rem;
}
.footer .logo img {
  width: 100%;
}
.footer_info {
  display: -ms-grid;
  display: grid;
  max-width: 30rem;
  gap: 1rem;
}
.footer_info-title {
  font-size: 1.5rem;
  line-height: 1.75;
}
.footer_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 7rem;
  margin-left: auto;
}
.footer_about-contacts {
  max-width: 20rem;
}
.footer_about-contacts--title {
  font-size: 1.5rem;
  color: #CF7306;
  margin-bottom: 2rem;
}
.footer_about-contacts--items {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  font-weight: 700;
  line-height: 1.5;
}
.footer_about-contacts--items-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer_about-contacts--items-li svg {
  width: 20px;
  height: 20px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  margin-right: 8px;
}
.footer_about-contacts--items-li svg:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.footer_about-more {
  max-width: 20rem;
}
.footer_about-more--title {
  font-size: 1.5rem;
  color: #CF7306;
  margin-bottom: 2rem;
}
.footer_about-more--nav_ul {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  font-weight: 700;
  line-height: 1.5;
}
.footer_about-more--nav_ul-li {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.footer_about-more--nav_ul-li:hover {
  color: #CF7306;
}

.cdti {
  max-width: 440px;
}

@media (max-width: 1440px) {
  .footer_about {
    gap: 1.5rem;
  }
  .footer_about-more--title {
    font-size: 1.25rem;
  }
  .footer_about-contacts--title {
    font-size: 1.25rem;
  }
}
@media (max-width: 1280px) {
  .content_container {
    padding: 0 2rem 0 1.25rem;
  }
  .header {
    margin-bottom: 5rem;
  }
  .header a {
    font-size: 1rem;
  }
  .header_nav-ul {
    gap: 1.25rem;
  }
  .slider {
    gap: 1.25rem;
  }
  .slider_items {
    gap: 2rem;
  }
  .section {
    margin-bottom: 0;
  }
  .section_span {
    font-size: 11rem;
    line-height: 11rem;
  }
  .section_content-title {
    font-size: 2rem;
  }
  .section_content-text {
    font-size: 1rem;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer_info {
    max-width: 25rem;
  }
  .footer_info-title {
    font-size: 1.25rem;
  }
  .footer_about {
    margin-left: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .footer_about-contacts {
    max-width: 25rem;
  }
}
@media (max-width: 1030px) {
  .header {
    margin-bottom: 3rem;
  }
  .header_nav {
    display: none;
  }
  .header_team {
    display: none;
  }
  .slider {
    right: 3%;
  }
  .burger {
    display: -ms-grid;
    display: grid;
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section_content {
    width: 95%;
    margin: 0 auto;
  }
  .section img {
    width: 95%;
    margin: 0 auto;
  }
  .inventory, .storage, .repair, .original, .certificate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section_imgBox {
    margin: 0 auto;
  }
  .section_imgBox img {
    height: 350px;
  }
  #player iframe {
    height: 420px;
    width: 100%;
  }
  .footer {
    width: 95%;
    margin: 0 auto;
  }
  .footer_info {
    max-width: 32rem;
  }
  .footer_about {
    width: auto;
  }
  .footer_about-contacts {
    max-width: 32rem;
  }
  .footer_about-more {
    display: none;
  }
  .persons_slider-item img {
    width: 45%;
  }
}
@media (max-width: 810px) {
  .main_content, .team_content, .fabrica_content {
    max-width: 30rem;
  }
  .main_content-title, .team_content-title, .fabrica_content-title {
    font-size: 3.5rem;
    margin: 3rem auto;
  }
  .main_content-subtitle, .team_content-subtitle, .fabrica_content-subtitle {
    gap: 1rem;
    font-size: 1.75rem;
  }
  .main_content-subtitle::before, .team_content-subtitle::before, .fabrica_content-subtitle::before {
    width: 3rem;
  }
  .section_imgBox img {
    height: 300px;
  }
  .section {
    padding: 5rem 0 2rem;
  }
  .section_content-title {
    font-size: 1.75rem;
  }
  .team_content-subtitle {
    gap: 1rem;
    font-size: 1.75rem;
  }
  .team_content-subtitle::before {
    width: 3rem;
  }
  .persons_slider-item--text-subtitle {
    font-size: 1rem;
  }
  #player {
    text-align: center;
  }
  #player iframe {
    height: 320px;
    width: 90%;
  }
}
@media (max-width: 650px) {
  .logo img {
    width: 75%;
  }
  .burger {
    top: 50px;
  }
  .slider {
    right: 2%;
    gap: 1rem;
  }
  .content_container {
    padding: 0 1.5rem 0 0;
  }
  .header {
    margin-bottom: 7rem;
  }
  .main_content, .team_content {
    max-width: 22rem;
  }
  .main_content-title, .team_content-title {
    font-size: 3rem;
    margin: 2.5rem auto;
  }
  .main_content-subtitle, .team_content-subtitle {
    gap: 1rem;
    font-size: 1.25rem;
  }
  .main_content-subtitle::before, .team_content-subtitle::before {
    width: 2rem;
  }
  .main_content-text, .team_content-text {
    font-size: 1rem;
  }
  .fabrica_content {
    max-width: 24rem;
  }
  .fabrica_content-title {
    font-size: 3rem;
    margin: 2.5rem auto;
  }
  .fabrica_content-subtitle {
    gap: 1rem;
    font-size: 1.25rem;
  }
  .fabrica_content-subtitle::before {
    width: 2rem;
  }
  .fabrica_content-text {
    font-size: 1rem;
  }
  .slider_items {
    gap: 1.6rem;
    font-size: 0.8rem;
  }
  .socials_text {
    font-size: 0.8rem;
  }
  .socials_text svg {
    width: 15px;
    height: 15px;
  }
  .footer .logo img {
    width: 75%;
  }
  .footer_info-title {
    font-size: 1rem;
  }
  .overlay_list-item {
    font-size: 1rem;
  }
  .persons_slider-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 8rem;
    margin: 0 auto;
  }
  .team-title {
    font-size: 1.75rem;
  }
  .persons_slider-item--text-title {
    font-size: 1.5rem;
    gap: 1rem;
  }
  .persons_slider-item--text-title::before {
    width: 2rem;
  }
  .persons_slider-item--text-subtitle {
    font-size: 0.8rem;
  }
  .section_imgBox img {
    height: 220px;
  }
  .mb {
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .fabrica_content {
    max-width: 19rem;
  }
  .fabrica_content-title {
    font-size: 2.25rem;
    margin: 2.5rem auto;
  }
  .section_imgBox img {
    height: 150px;
  }
  #player iframe {
    height: 220px;
  }
  .burger .line {
    width: 25px;
    height: 2px;
  }
  .active .line:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-3px, 4px);
            transform: rotate(-45deg) translate(-3px, 4px);
  }
  .header {
    margin-bottom: 3rem;
  }
  .container {
    padding: 0 1rem 0;
  }
  .slider, .socials {
    top: 60%;
  }
  .section {
    padding: 2rem 0;
  }
  .section_content-text {
    font-size: 0.8rem;
  }
  .section_content-title {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
  .section_content-subtitle {
    font-size: 1rem;
    gap: 1rem;
  }
  .section_content-subtitle::before {
    width: 2rem;
  }
  .section_span {
    font-size: 10rem;
    line-height: 6rem;
  }
  .footer_about-contacts--items {
    font-size: 0.8rem;
  }
  .persons_slider-btns {
    max-width: 5rem;
  }
  #map iframe {
    height: 250px;
  }
  .section_imgBox {
    gap: 1rem;
  }
  .section_imgBox img {
    height: 180px;
  }
}
@media (max-width: 380px) {
  .main_content-subtitle, .team_content-subtitle, .fabrica_content-subtitle {
    font-size: 1rem;
  }
  .main_content-title, .team_content-title, .fabrica_content-title {
    font-size: 2.5rem;
    margin: 2rem auto;
  }
  .main_content-text, .team_content-text, .fabrica_content-text {
    font-size: 0.8rem;
  }
  .fabrica_content-title {
    font-size: 2.25rem;
    margin: 2.5rem auto;
  }
  .slider_items {
    font-size: 0.7rem;
  }
  .socials_text {
    font-size: 0.7rem;
  }
  .socials svg {
    width: 15px;
    height: 15px;
  }
  .section_span {
    font-size: 6rem;
    line-height: 2rem;
  }
  .section_content-title {
    font-size: 1.25rem;
  }
}